@use '../abstracts/mixins' as mixins;
@use '../abstracts/variables' as variables;
@use '../abstracts/functions' as functions;

.header__wrapper {
    width: 100%;
    box-sizing: content-box;
    padding-block: variables.$space-lg;

    @include mixins.flex(row, space-between, center);

    @include mixins.responsive-screen(sm) {
        flex-direction: row-reverse;
    }

    @include mixins.responsive-screen(md) {
        flex-direction: row;
        margin-top: variables.$space-xs;
    }

    > button {
        @include mixins.responsive-screen(md) {
            display: none;
        }
    }
}

.header__nav {
    display: none;

    @include mixins.responsive-screen(md) {
        display: block;
        max-width: 600px;
        min-width: 428px;
        width: 36%;
        > ul {
            @include mixins.flex(row, space-between, center);
        }
    }
}

.header__actions {
    display: none;

    @include mixins.responsive-screen(sm) {
        @include mixins.flex(row, space-between, center, variables.$space-xxs);
    }
}

.button.header__hamburger {
    padding: 0;
}

.header__hamburger--icon {
    font-size: functions.rem(40px);
}

.header__logo {
    @include mixins.responsive-screen(sm) {
        display: none;
    }
    @include mixins.responsive-screen(md) {
        display: inline;
    }

    &--shadow {
        display: none;
        margin-left: variables.$space-xxl;
        @include mixins.responsive-screen(sm) {
            display: inline;
        }

        @include mixins.responsive-screen(md) {
            display: none;
        }
    }
}

.header__item {
    font-weight: variables.$font-weight-bold;
    line-height: variables.$primary-spacing;
    color: variables.$color-grey-light;

    &:hover {
        color: variables.$color-dark;
    }
}
