@use '../abstracts/mixins' as mixins;
@use '../abstracts/variables' as variables;
@use '../abstracts/functions' as functions;

.header__wrapper {
    position: relative;
    width: 100%;
    box-sizing: content-box;
    padding-block: functions.rem(35px);
    @include mixins.flex(row, space-between, center);

    @include mixins.responsive-screen(sm) {
        padding-block: functions.rem(32.5px);
    }
    @include mixins.responsive-screen(md) {
        padding-block: variables.$space-lg;
        margin-top: functions.rem(34px);
    }
}

.header__logo {
    width: auto;
    height: auto;
    position: relative;
    @include mixins.responsive-screen(sm) {
        position: absolute;
        left: 0;
        top: functions.rem(37px);
        width: 50%;
        @include mixins.flex(row, flex-end, center, 0px);
    }
    @include mixins.responsive-screen(md) {
        width: auto;
        position: relative;
        left: 0;
        top: 0px;
        display: inline-flex;
    }
}

.header__nav {
    display: none;
    @include mixins.responsive-screen(md) {
        display: block;
        max-width: 600px;
        min-width: 428px;
        width: 36%;
        > ul {
            @include mixins.flex(row, space-between, center);
        }
    }
}

.header__actions {
    display: none;
    @include mixins.responsive-screen(sm) {
        @include mixins.flex(row, space-between, center, 0px);
    }
}

.button.header__hamburger {
    box-sizing: content-box;
    padding: functions.rem(4px);
    display: none;

    &--menu {
        display: inline-flex;
        @include mixins.responsive-screen(sm) {
            display: none;
        }
    }

    &--shadow {
        @include mixins.responsive-screen(sm) {
            display: inline-flex;
        }
        @include mixins.responsive-screen(md) {
            display: none;
        }
    }
}

.header__hamburger--icon {
    font-size: functions.rem(40px);
}

.header__item {
    font-weight: variables.$font-weight-bold;
    line-height: variables.$primary-spacing;
    color: variables.$color-grey-light;
    &:hover {
        color: variables.$color-dark;
    }
}
