@use '../abstracts/variables' as variables;
@use '../abstracts/mixins' as mixins;
@use '../abstracts/functions' as functions;

.hero {
    width: 100%;
    @include mixins.flex;

    &__bg {
        position: absolute;
        height: functions.rem(348px);
        width: functions.rem(272px);
        top: functions.rem(-150px);
        left: functions.rem(-33px);
        background-color: variables.$color-orange;
        opacity: 0.5;
        filter: blur(150px);
        border-radius: variables.$radius-round;
        z-index: -1;
        @include mixins.responsive-screen(sm) {
            height: functions.rem(500px);
            width: functions.rem(500px);
            top: functions.rem(-288px);
            left: functions.rem(-163px);
            filter: blur(200px);
        }

        @include mixins.responsive-screen(md) {
            height: functions.rem(495px);
            width: functions.rem(504px);
            top: functions.rem(-138.09px);
            left: functions.rem(-40px);
        }

        &--arrows {
            display: none;
            @include mixins.responsive-screen(sm) {
                display: inline-flex;
            }
        }
    }
    .container {
        flex-direction: column;
        gap: 0px;
    }

    &__container {
        position: relative;
        width: 100%;
        padding-block: variables.$space-xl;
        @include mixins.flex(
            column-reverse,
            space-between,
            center,
            variables.$space-lg
        );

        &--arrows {
            display: none;
            position: absolute;
            @include mixins.responsive-screen(sm) {
                display: inline-flex;
                bottom: functions.rem(10px);
                left: functions.rem(-24px);
            }
            @include mixins.responsive-screen(md) {
                display: inline-flex;
                bottom: functions.rem(-44px);
                left: functions.rem(-90px);
            }
        }
        @include mixins.responsive-screen(sm) {
            gap: variables.$space-xl;
        }
        @include mixins.responsive-screen(md) {
            flex-direction: row;
            gap: 0;
        }
    }

    &__content {
        flex: 1;
        width: 100%;
        @include mixins.flex(
            column,
            space-between,
            center,
            variables.$space-lg
        );
        @include mixins.responsive-screen(sm) {
            gap: 43px;
        }
    }

    &__top-section {
        width: 100%;
        @include mixins.flex(
            column,
            space-between,
            center,
            variables.$space-md
        );
        @include mixins.responsive-screen(sm) {
            gap: 43px;
        }
        @include mixins.responsive-screen(md) {
            align-items: flex-start;
            padding-bottom: functions.rem(24px);
            padding-left: functions.rem(6px);
        }
    }

    &__heading-section {
        width: 100%;
        @include mixins.flex(
            column,
            space-between,
            center,
            variables.$space-xs
        );
        @include mixins.responsive-screen(sm) {
            gap: 43px;
        }
        @include mixins.responsive-screen(md) {
            align-items: flex-start;
        }
    }

    &__image-wrapper {
        padding-inline: functions.rem(0.86px);
        margin-bottom: functions.rem(2px);
        width: 100%;
        @include mixins.responsive-screen(sm) {
            padding-inline: functions.rem(62px);
        }
        @include mixins.responsive-screen(md) {
            padding: 0;
            max-height: functions.rem(713px);
            max-width: functions.rem(772px);
        }
    }

    &__image {
        width: 100%;
        img {
            width: 100%;
        }
    }

    &__actions {
        width: 100%;

        @include mixins.flex(
            column,
            space-between,
            center,
            variables.$space-md
        );

        button {
            width: 100%;
            padding: variables.$space-md variables.$space-lg;
            @include mixins.responsive-screen(sm) {
                padding-block: variables.$space-sm;
                width: auto;
            }
        }

        &--primary {
            box-shadow:
                0px 0px 0px 0px #0000001a,
                0px 5px 11px 0px #0000001a,
                0px 20px 20px 0px #00000017,
                0px 45px 27px 0px #0000000d,
                0px 81px 32px 0px #00000003,
                0px 126px 35px 0px #00000000;
        }

        &--icon {
            font-size: functions.rem(20px);
            padding: functions.rem(1px) functions.rem(2px);
        }

        @include mixins.responsive-screen(sm) {
            flex-direction: row;
            justify-content: safe center;
            gap: variables.$space-xs;
        }
        @include mixins.responsive-screen(md) {
            justify-content: flex-start;
            padding-bottom: functions.rem(8px);
            padding-left: functions.rem(6px);
        }
    }

    &__badge {
        padding: variables.$space-xs variables.$space-lg;
        background-color: transparent;
        border-radius: variables.$radius-pill;
        box-shadow:
            0 0 0 0 #00000012,
            0 34px 75px 0 #00000012,
            0 137px 137px 0 #0000000f,
            0 308px 185px 0 #0000000a,
            0 548px 219px 0 #00000003,
            0 856px 240px 0 #00000000;
        font-weight: variables.$font-weight-bold;
        font-size: variables.$text-sm;
        line-height: variables.$primary-spacing;

        @include mixins.flex(row, space-between, center, variables.$space-xs);

        &--primary {
            padding: functions.rem(2px);
            font-size: functions.rem(20px);
        }
    }

    &__description-wrapper {
        width: 100%;
        @include mixins.responsive-screen(sm) {
            padding-inline: clamp(
                functions.rem(1px),
                37.94cqi - functions.rem(162.53px),
                functions.rem(226px)
            );
        }
        @include mixins.responsive-screen(md) {
            padding-inline: 0;
        }
    }

    &__description {
        width: 100%;
        text-align: center;
        @include mixins.responsive-screen(md) {
            padding-inline: 0px;
            text-align: left;
        }
    }
    &__title-wrapper {
        @include mixins.responsive-screen(sm) {
            padding-inline: clamp(
                functions.rem(1px),
                22.04cqi - functions.rem(94px),
                functions.rem(131.7px)
            );
        }
        @include mixins.responsive-screen(md) {
            padding-inline: 0px;
        }
    }
    &__title {
        text-align: center;
        @include mixins.responsive-screen(md) {
            text-align: left;
        }
    }
}
