@use '../abstracts/mixins' as mixins;
@use '../abstracts/variables' as variables;
@use '../abstracts/functions' as functions;

.partners-wrapper {
    width: 100%;
    padding-bottom: functions.rem(64px);
    padding-right: functions.rem(22px);
    @include mixins.responsive-screen(sm) {
        padding-inline: clamp(
            functions.rem(1px),
            16.6948cqi - functions.rem(70.955px),
            functions.rem(100px)
        );
        padding-block: functions.rem(64px);
    }
    @include mixins.responsive-screen(md) {
        padding-inline: clamp(
            0rem,
            -24.0385cqi + functions.rem(346.15px),
            functions.rem(100px)
        );
    }
    @include mixins.responsive-screen(lg) {
        padding-inline: 0;
    }
}

.partners {
    @include mixins.flex(row, center, center, 27px);
    row-gap: functions.rem(32px);
    flex-wrap: wrap;
    @include mixins.responsive-screen(md) {
        justify-content: space-between;
    }
    @include mixins.responsive-screen(lg) {
        justify-content: space-around;
    }

    img {
        height: functions.rem(20px);

        @include mixins.responsive-screen(sm) {
            height: functions.rem(32px);
        }
    }
}
