@use '../abstracts/mixins' as mixins;
@use '../abstracts/variables' as variables;
@use '../abstracts/functions' as functions;

.partners {
    width: 100%;
    @include mixins.flex(row, center, center, 32px);
    flex-wrap: wrap;
    padding-bottom: functions.rem(64px);
    @include mixins.responsive-screen(sm) {
        padding-block: functions.rem(64px);
    }
    @include mixins.responsive-screen(md) {
        justify-content: space-between;
    }

    img {
        height: functions.rem(20px);

        @include mixins.responsive-screen(sm) {
            height: functions.rem(32px);
        }
    }
}
