@use './functions' as functions;

// Colors
/// @type color
$color-light: #eeeeee;
$color-dark: #222831;
$color-grey-dark: #191825;
$color-grey-medium: #191825bf;
$color-grey-light: #19182580;
$color-grey-extra-light: #1918251a;
$color-grey-thin: #1918250d;
$color-pink: #f85e9f;
$color-black: #000;
$color-orange: #ff5722;
$color-white: #fff;
$color-purple: #5d50c6;

// Breakpoints
/// @type number
$breakpoint-sm: 430px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1440px;

///@type map
$breakpoints: (
    sm: $breakpoint-sm,
    md: $breakpoint-md,
    lg: $breakpoint-lg,
);

// Font Family
/// @type string
$font-family-primary: 'Circular Std', sans-serif;
$font-family-secondary: 'Inter', sans-serif;

// font weights
///@type number
$font-weight-bold-max: 900;
$font-weight-bold: 700;
$font-weight-medium-bold: 600;
$font-weight-semi-bold: 450;
$font-weight-light: 400;

///Line Spacing
/// @type number
$primary-spacing: 1.2;
$secondary-spacing: 1.6;

/// Variables for spacing
/// @type number
$space-xxs: functions.rem(8px);
$space-xs: functions.rem(16px);
$space-sm: functions.rem(18px);
$space-md: functions.rem(24px);
$space-lg: functions.rem(32px);
$space-xl: functions.rem(64px);
$space-xxl: functions.rem(124px);

//font-sizes
/// @type number
$text-sm: functions.rem(14px);
$text-md: functions.rem(16px);
$text-lg: functions.rem(18px);
$text-xl: functions.rem(24px);

// border-radius
///@type number
$radius-sm: 16px;
$radius-md: 24px;
$radius-lg: 32px;
$radius-pill: 100px;
$radius-round: 50%;

// z-index
///@type number
/// Variables for z-index
$z-index-behind: -1;
$z-index-base: 1;
$z-index-icon: 2;
$z-index-mask: 3;
$z-index-drawer: 4;
$z-index-modal: 4;
$z-index-max: 9999;

// Mask
$background-mask: #00000080;
$opacity-transparent: 0;
$opacity-opaque: 1;

//transition
$duration-fast: 220ms;
$duration-normal: 300ms;
$transition-easing: cubic-bezier(0.4, 0, 0.2, 1);
