@use './functions' as functions;

// Colors
/// @type color
$color-light: #eeeeee;
$color-dark: #222831;
$color-grey-dark: #191825;
$color-grey-medium: #191825bf;
$color-grey-light: #19182580;
$color-grey-extra-light: #1918251a;
$color-pink: #f85e9f;
$color-black: #000;
$color-orange: #ff5722;
$color-white: #fff;
$color-purple: #5d50c6;

// Breakpoints
/// @type number
$breakpoint-sm: 430px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1440px;

///@type map
$breakpoints: (
    sm: $breakpoint-sm,
    md: $breakpoint-md,
    lg: $breakpoint-lg,
);

// Font Family
/// @type string
$font-family-primary: 'Circular Std', sans-serif;
$font-family-secondary: 'Inter', sans-serif;

// font weights
///@type number
$font-weight-bold-max: 900;
$font-weight-bold: 700;
$font-weight-medium-bold: 600;
$font-weight-semi-bold: 450;
$font-weight-light: 400;

///Line Spacing
/// @type number
$primary-spacing: 1.2;
$secondary-spacing: 1.6;

/// Variables for spacing
/// @type number
$space-xs: 16px;
$space-sm: 18px;
$space-md: 24px;
$space-lg: 32px;
$space-xl: 64px;

//font-sizes
$text-sm: functions.rem(14px);
$text-md: functions.rem(16px);
$text-lg: functions.rem(18px);
$text-xl: functions.rem(23px);

// border-radius
///@type number
$radius-pill: 9999px;
$radius-round: 50%;
