@use '../abstracts/mixins' as mixins;
@use '../abstracts/variables' as variables;
@use '../abstracts/functions' as functions;

.card {
    width: 100%;
    background-color: transparent;
    padding: variables.$space-lg;
    @include mixins.flex(column, center, center, variables.$space-xs);

    &--outline {
        border: 1px solid variables.$color-grey-extra-light;
        border-radius: variables.$radius-lg;
    }
    &--title {
        font-family: variables.$font-family-secondary;
        color: variables.$color-grey-dark;
        font-size: functions.rem(18px);
    }
}
