@use '../abstracts/mixins' as mixins;
@use '../abstracts/variables' as variables;
@use '../abstracts/functions' as functions;

/// @type Number
$drawer-width-sm: 75%;
$drawer-width-md: 35%;
$drawer-header-min-height: functions.rem(32px);

.drawer {
    @include mixins.flex(column, space-between, center);
    width: $drawer-width-sm;
    padding: variables.$space-xs;
    background: variables.$color-white;

    @include mixins.responsive-screen(sm) {
        width: $drawer-width-md;
    }

    &__header {
        width: 100%;
        min-height: $drawer-header-min-height;
        flex: 1;
        @include mixins.flex(row, flex-end, center);
        @include mixins.responsive-screen(sm) {
            justify-content: flex-start;
        }
    }

    &__icon {
        font-size: functions.rem(32px);
        color: variables.$color-grey-medium;
    }

    &__nav {
        flex: 11;
        width: 100%;
        @include mixins.flex(column, space-between, center, 0);
    }

    &__list {
        flex: 1;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        @include mixins.flex(column, safe center, center);
        @include mixins.responsive-screen(sm) {
            padding-top: 20%;
            justify-content: flex-start;
        }
    }

    &__item {
        padding: variables.$space-xs 0;
        width: 100%;
        text-align: center;
    }

    &__actions {
        flex: 1;
        width: 100%;
        @include mixins.flex(column, safe center, center, variables.$space-sm);
        @include mixins.responsive-screen(sm) {
            display: none;
        }
        button {
            width: 100%;
        }
    }

    &__cross.button {
        padding: 0;
    }
}
