// base/_base.scss
@use '../abstracts/variables' as variables;
@use '../abstracts/functions' as functions;
@use '../abstracts/mixins' as mixins;

body {
    font-family: variables.$font-family-primary;
    font-size: variables.$text-sm;
    font-weight: variables.$font-weight-light;
    color: variables.$color-grey-medium;
    background-color: variables.$color-white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    @include mixins.responsive-screen(sm) {
        padding-bottom: functions.rem(100px);
    }
    @include mixins.responsive-screen(md) {
        padding-bottom: functions.rem(140px);
    }
}
