@use '../abstracts/variables' as variables;
@use '../abstracts/mixins' as mixins;
@use '../abstracts/functions' as functions;

h1,
h2,
h3,
h4,
h5,
h5,
data,
p {
    text-align: center;
}

h1 {
    font-size: functions.rem(40px);
    font-weight: variables.$font-weight-bold;
    line-height: variables.$primary-spacing;
    color: variables.$color-black;

    @include mixins.responsive-screen(sm) {
        font-size: functions.rem(56px);
    }

    @include mixins.responsive-screen(md) {
        font-size: functions.rem(69px);
    }
}

h2 {
    font-size: functions.rem(32px);
    font-weight: variables.$font-weight-bold;
    line-height: variables.$primary-spacing;
    color: variables.$color-grey-dark;

    @include mixins.responsive-screen(sm) {
        font-size: functions.rem(40px);
    }

    @include mixins.responsive-screen(md) {
        font-size: functions.rem(44px);
    }
}

h3 {
    font-size: functions.rem(30px);
    font-weight: variables.$font-weight-bold;
    line-height: variables.$primary-spacing;
    color: variables.$color-grey-medium;
}

h4 {
    font-size: functions.rem(28px);
    font-weight: variables.$font-weight-bold;
    line-height: variables.$primary-spacing;
    color: variables.$color-grey-light;
}

h5 {
    font-size: functions.rem(24px);
    font-weight: variables.$font-weight-bold-max;
    line-height: variables.$tertiary-spacing;
    color: variables.$color-grey-dark;
}

h6 {
    font-size: functions.rem(23px);
    font-weight: variables.$font-weight-bold;
    line-height: variables.$primary-spacing;
    color: variables.$color-grey-dark;
}

p {
    font-family: variables.$font-family-secondary;
    font-size: functions.rem(16px);
    font-weight: variables.$font-weight-light;
    line-height: variables.$secondary-spacing;
    color: variables.$color-grey-light;

    @include mixins.responsive-screen(sm) {
        font-size: functions.rem(18px);
    }
}

li {
    font-size: functions.rem(14px);
    font-weight: variables.$font-weight-bold;
    line-height: variables.$primary-spacing;
    color: variables.$color-grey-light;
}

data {
    font-size: functions.rem(35px);
    font-weight: variables.$font-weight-bold;
    line-height: variables.$primary-spacing;
    color: variables.$color-orange;
}

.eyebrow {
    font-size: functions.rem(16px);
    font-weight: variables.$font-weight-bold;
    line-height: variables.$primary-spacing;
    color: variables.$color-pink;
    letter-spacing: 20%;
    text-transform: uppercase;
    @include mixins.responsive-screen(sm) {
        font-size: functions.rem(23px);
    }
}

.text-medium-bold-md {
    color: variables.$color-grey-medium;
    font-weight: variables.$font-weight-semi-bold;
    text-align: center;
    font-size: functions.rem(18px);

    @include mixins.responsive-screen(sm) {
        font-size: functions.rem(23px);
    }
}

.text-dark-bold {
    font-size: functions.rem(28px);
    font-weight: variables.$font-weight-bold;
    line-height: variables.$primary-spacing;
    color: variables.$color-grey-medium;

    &--small {
        font-size: functions.rem(23px);
    }
}
.font-inter {
    font-family: variables.$font-family-secondary;
}

.font-circular-std {
    font-family: variables.$font-family-primary;
}

.text-dark-sm {
    color: variables.$color-grey-dark;
    font-size: functions.rem(18px);
}
