@use '../abstracts/variables' as variables;

.text-pink {
    color: variables.$color-pink;
}

.text-orange {
    color: variables.$color-orange;
}

.text-dark {
    color: variables.$color-dark;
}

.text-grey-medium {
    color: variables.$color-grey-medium;
}

.hidden {
    display: none;
}

.uppercase-text {
    text-transform: uppercase;
}
